/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

/* Toggle dark mode */

.toggle-dark-mode {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-dark-mode label {
    margin-left: 10px;
}

/* Task form */

.task-form {
    display: flex;
    /* flex-direction:; */
    width: 100%;
    margin-bottom: 20px;
}

.task-form input,
.task-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-form input {
    font-size: 16px;
    /* margin: 20px; */
    margin-right: 20px;
}

.task-form button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-button {
    background-color: #fff;
    color: #333;
}

/* Task list */

.task-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.dark-task {
    background-color: #333;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.task-list li div {
    flex: 1;
    margin-left: 10px;
}

.task-list li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.dark-task button {
    color: #fff;
}